version: '3.8'

services:

  web: 
    image: nginx:latest
    restart: always 
    volumes: 
      - ./public:/var/www/html
      - ./conf.d:/etc/nginx/conf.d
      - ./certbot/conf:/etc/nginx/ssl
      - ./certbot/data:/var/www/certbot
    ports:
      - 80:80
      - 443:443 
 
  certbot: 
    image: certbot/certbot:latest 
    command: certonly --webroot --webroot-path=/var/www/certbot --email teeaitch.git@gmail.com --agree-tos --no-eff-email -d teeaitch.net -d www.teeaitch.net
    volumes: 
      - ./public:/var/www/html
      - ./conf.d:/etc/nginx/conf.d
      - ./certbot/conf:/etc/nginx/ssl
      - ./certbot/data:/var/www/certbot